{% extends 'layouts/base.html' %}
{% load static%}

{% block content %}




		<!-- START HOME BLOG -->
		<section id="blog" class="home_blog section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Latest <span>Blog</span></h2>
						<div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="home_single_blog">
							<img class="blog-photo" alt="" src="{% static 'assets/img/blog/blog1.jpg' %}"/>
							<div class="home_blog_text text-center wow fadeInLeft">
								 <span><i class="fa fa-eye"></i> 249 View</span><span><i class="fa fa-comments-o"></i> 08 Comment</span>
								 <h4>Blog title here</h4>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit.</p>
								<a class="btn-light-bg" href="blog-post.html">Read More</a>
							</div>
						</div><!--- END SINGLE BLOG POST -->
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-12 col-xs-12">
						<div class="home_single_blog">
							<img class="blog-photo" alt="" src="{% static 'assets/img/blog/blog2.jpg' %}"/>
							<div class="home_blog_text text-center wow fadeInLeft">
								 <span><i class="fa fa-eye"></i> 249 View</span><span><i class="fa fa-comments-o"></i> 08 Comment</span>
								 <h4>Blog title here</h4>
								 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit.</p>
								<a class="btn-light-bg" href="blog-post.html">Read More</a>
							</div>
						</div><!--- END SINGLE BLOG POST -->
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END HOME BLOG -->

		<!-- START TESTIMONIAL -->
		<div class="client_testimonial" style="background-image: url(assets/img/bg/testimonial-bg.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ms-staff-carousel">
                            <div class="master-slider" id="teamslider">
                                <div class="ms-slide">
                                    <img src="{% static 'assets/master-slider/style/blank.gif" data-src="assets/img/testimonial/1.jpg" alt=""/>
                                    <div class="ms-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi. Quisque in tincidunt elit. Sed sit amet fringilla ante. Nunc fringilla pharetra mi vitae bibendum.</p>
										<h3>Syed Ekram - <span>Project Manager</span></h3>
                                    </div>
                                </div><!--SLIDE TEAM-->
                                <div class="ms-slide">
                                    <img src="{% static 'assets/master-slider/style/blank.gif" data-src="assets/img/testimonial/2.jpg" alt=""/>
                                    <div class="ms-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi. Quisque in tincidunt elit. Sed sit amet fringilla ante. Nunc fringilla pharetra mi vitae bibendum.</p>
										<h3>Syed Ekram - <span>Project Manager</span></h3>
                                    </div>
                                </div><!--SLIDE TEAM-->
                                <div class="ms-slide">
                                    <img src="{% static 'assets/master-slider/style/blank.gif" data-src="assets/img/testimonial/3.jpg" alt=""/>
                                    <div class="ms-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi. Quisque in tincidunt elit. Sed sit amet fringilla ante. Nunc fringilla pharetra mi vitae bibendum.</p>
										<h3>Syed Ekram - <span>Project Manager</span></h3>
                                    </div>
                                </div><!--SLIDE TEAM-->
                                <div class="ms-slide">
                                    <img src="{% static 'assets/master-slider/style/blank.gif" data-src="assets/img/testimonial/4.jpg" alt=""/>
                                    <div class="ms-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi. Quisque in tincidunt elit. Sed sit amet fringilla ante. Nunc fringilla pharetra mi vitae bibendum.</p>
										<h3>Syed Ekram - <span>Project Manager</span></h3>
                                    </div>
                                </div><!--SLIDE TEAM-->
                                <div class="ms-slide">
                                    <img src="{% static 'assets/master-slider/style/blank.gif" data-src="assets/img/testimonial/5.jpg" alt=""/>
                                    <div class="ms-info text-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi. Quisque in tincidunt elit. Sed sit amet fringilla ante. Nunc fringilla pharetra mi vitae bibendum.</p>
										<h3>Syed Ekram - <span>Project Manager</span></h3>
                                    </div>
                                </div><!--SLIDE TEAM-->
                            </div><!--- END MASTER SLIDER -->
                            <div class="ms-staff-info" id="staff-info"> </div>
                        </div><!--- END MS STAFF CAROUSEL -->
                    </div><!--- END COL -->
                </div><!--- END ROW -->
            </div><!--- END CONTAINER -->
        </div>
		<!-- END TESTIMONIAL -->




		<!-- PROMOTION -->
		<section class="buy_now">
			<div class="container text-center">
				<h3 class="buy_now_title">Your Choice Is Our Choice<a href="#" class="btn-light-bg">Purchase Now</a> </h3>
			</div><!--- END CONTAINER -->
		</section>
		<!-- END PROMOTION -->


{% endblock %}