	{% extends 'layouts/base.html' %}
{% load static%}

{% block content %}


<!-- START COMPANY PARTNER LOGO  -->
		<section class="partner-logo">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Our <span>Partners</span></h2>
						<div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
					</div>
					<div class="col-md-12">
						<div class="partner  wow fadeInRight">
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/1.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/2.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/3.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/4.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/5.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/6.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/1.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/2.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/3.png' %}" alt="image"></a>
							<a href="#" target="_blank"><img src="{% static 'assets/img/partner/4.png' %}" alt="image"></a>
						</div>
					</div><!-- END COL  -->
				</div><!--END  ROW  -->
			</div><!-- END CONTAINER  -->
		</section>
		<!-- END COMPANY PARTNER LOGO -->

		<!-- START FAQ -->
		<section class="page-faq section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Jacqueline <span>Faq</span></h2>
						<div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
					</div>
					<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
					     <div class="according-area">
							<div class="panel-group" id="accordion-two" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFive">
										<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-target="#collapseFive" data-parent="#accordion-two" aria-expanded="true" aria-controls="collapseFive">
										   Why Jacqueline Best?
										</a>
										</h4>
									</div>
									<div id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingSix">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
										  Why choice Jacqueline?
										</a>
									  </h4>
									</div>
									<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingSeven">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
										 Perfect for all devices
										</a>
										</h4>
									</div>
									<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingEight">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
										  Clean &amp; Professional Design
										</a>
										</h4>
									</div>
									<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingNine">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
										  Made with passion
										</a>
										</h4>
									</div>
									<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTen">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-two" data-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
										   24/7 faster Support
										</a>
										</h4>
									</div>
									<div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
							</div><!--- END PANEL GROUP-->
						</div><!--- END ACCORDION AREA -->
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END FAQ -->



{% endblock %}