{% extends 'layouts/base.html' %}
{% load static%}

{% block content %}


		<!-- START GROW BUSINESS -->
		<div class="grow_business section-padding">
			<div class="container">
				<div class="row text-center">
					<div class="section-title">
						<h2>Grow your <span>business</span> with Jacqueline</h2>
						<div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="grow_img">
							<img src="{% static 'assets/img/team-image.jpg' %}" class="img-responsive" alt="" />
						</div>
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</div>
		<!-- END GROW BUSINESS -->

		<!-- START OUR TEAM -->
		<section id="team" class="our_team section-padding">
			<div class="container">
				<div class="row text-center">
					<div class="section-title">
						<h2>Talented <span>Team</span></h2>
						<div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
					</div>
					<div class="carousel slide" data-ride="carousel" data-interval="9999999">
						<div class="carousel-inner text-center">
						  <div class="item active">
								<!-- Start team 1 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-responsive" alt="team-1">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Syed Ekram</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
								<!-- End team 1 -->
								<!-- Start team 2 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-responsive" alt="team-2">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Nusrat Jahan</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
								<!-- End team 2 -->
								<!-- Start team 3 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-responsive" alt="team-3">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Masum Billah</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
								<!-- End team 3 -->
								<!-- Start team 4 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-responsive" alt="team-4">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Jannatul Ferdous</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
							</div><!--- END ITEM -->
						  <div class="item">
								<!-- Start team 1 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-responsive" alt="team-1">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Syed Ekram</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
								<!-- End team 1 -->
								<!-- Start team 2 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-responsive" alt="team-2">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Nusrat Jahan</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
								<!-- End team 2 -->
								<!-- Start team 3 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-responsive" alt="team-3">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Masum Billah</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
								<!-- End team 3 -->
								<!-- Start team 4 -->
								<div class="col-md-3 col-sm-6 col-xs-12">
								  <div class="tema-member">
									<div class="team-thumbnail">
									  <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-responsive" alt="team-4">
									  <div class="overlay">
										<div class="social-media">
										  <a href="#" class="team_facebook"><i class="fa fa-facebook"></i></a>
										  <a href="#" class="team_twitter"><i class="fa fa-twitter"></i></a>
										  <a href="#" class="team_google"><i class="fa fa-google-plus"></i></a>
										  <a href="#" class="team_linkedin"><i class="fa fa-linkedin"></i></a>
										</div>
									  </div>
									</div>
									<div class="info">
									  <h3>Jannatul Ferdous</h3>
									  <p>Web Developer</p>
									</div>
								  </div>
								</div><!--- END COL -->
							</div><!--- END ITEM -->
						</div>
					</div>
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END OUR TEAM -->

	   <!--START PORTFOLIO PROJECT -->
	   <section id="portfolio" class="work_portfolio section-padding">
			<div class="container-fluid">
				<div class="row">
					<div class="section-title text-center">
						<h2>latest  <span>Projects</span></h2>
						<div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
					</div>
					<ul class="portfolio-filters text-center">
						<li class="filter active" data-filter="all">all</li>
						<li class="filter" data-filter="graphic">Graphic</li>
						<li class="filter" data-filter="print">Print</li>
						<li class="filter" data-filter="webdesign">webdesign</li>
					</ul>
					<!-- END PORTFOLIO FILTER-->
					<div class="grid">
						<div class="col-md-3 col-sm-6 mix print webdesign no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/1.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/1.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-3 col-sm-6 mix print webdesign no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/2.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/2.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-3 col-sm-6 mix print no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/3.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/3.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-3 col-sm-6 mix print no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/4.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/4.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-3 col-sm-6 mix webdesign graphic no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/5.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/5.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-3 col-sm-6 mix print no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/6.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/6.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-3 col-sm-6 mix print webdesign graphic no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/7.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/7.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
						<div class="col-md-3 col-sm-6 mix print no-padding">
							   <div class="image-wrapper">
									<img src="{% static 'assets/img/portfolio/8.jpg' %}" class="img-responsive" alt="work">
							   <div class="image-overlay">
								   <span>
								   <a href="{% static 'assets/img/portfolio/8.jpg' %}" class="image-popup"> <i class="fa fa-camera-retro"></i></a>
									<a href="single_project.html" target="_blank"><i class="fa fa-chain"></i></a>
								   </span>
								</div>
							  </div>
						</div> <!--work item-->
					 </div> <!--/.grid-->
				 </div><!-- END ROW-->
				 <div class="portfolio_btn text-center">
					<a href="#" class="btn-light-bg">See More Work</a>
				 </div>
			</div><!-- END CONTAINER-->
		</section>
		<!--START PORTFOLIO PROJECT -->

{% endblock %}