{% extends 'layouts/base.html' %}
{% load static%}

{% block content %}


		<!-- START WHY CHOOSE US -->
		<section class="why_choice_us section-padding">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<img src="{% static 'assets/img/why_img.jpg' %}" class="img-responsive" alt="" />
					</div><!-- END COL -->
					<div class="col-md-8 col-sm-8 col-xs-12">
					    <div class="why_choose">
							<h3>Why Choose Us</h3>
							<span></span>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu.</p>
						</div>
						<div class="according-area">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
										  Clean &amp; Professional Design
										</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
										  Made with passion
										</a>
									  </h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
										  Responsive for all devices
										</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingfour">
										<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
										  24/7 faster Support
										</a>
										</h4>
									</div>
									<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
										<div class="panel-body">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed elit tortor. Quisque bibendum mauris velit, sed tincidunt massa lacinia nec. Mauris rutrum viverra metus, vel aliquet libero eleifend eu. Sed id tempus libero, vitae porta nisi.
										</div>
									</div>
								</div><!--- END PANEL -->
							</div><!--- END PANEL GROUP-->
						</div><!--- END ACCORDION AREA -->
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END WHY CHOOSE US -->

		<!-- START SERVICE -->
		<section id="service" class="our_service section-padding">
			<div class="container">
				<div class="row">
					<div class="section-title text-center">
						<h2>Trendy <span>Service</span></h2>
						<div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis dignissim. Aenean vitae metus in augue pretium ultrices. Duis dictum eget dolor vel blandit.</p>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="row text-center">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single_service">
									<i class="fa fa-rocket"></i>
									<h4>Programming</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
								</div>
							</div><!-- END COL -->
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single_service">
									<i class="fa fa-rocket"></i>
									<h4>Branding Design</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
								</div>
							</div><!-- END COL -->
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single_service">
									<i class="fa fa-rocket"></i>
									<h4>Online Marketing</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
								</div>
							</div><!-- END COL -->
							<div class="col-md-6 col-sm-6 col-xs-12">
								<div class="single_service">
									<i class="fa fa-rocket"></i>
									<h4>Flixeble design</h4>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis.</p>
								</div>
							</div><!-- END COL -->
						</div><!-- END ROW -->
					</div><!-- END COL -->
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="single_service_img">
							<img src="{% static 'assets/img/women.png' %}" class="img-responsive" alt="" />
						</div>
					</div><!-- END COL -->
				</div><!-- END ROW -->
			</div><!-- END CONTAINER -->
		</section>
		<!-- END SERVICE -->


{% endblock %}