{% load static %}
<div class="navbar navbar-default navbar-fixed-top menu-top menu_dropdown">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
					<a href="index.html" class="navbar-brand"><img src="{% static 'assets/img/logo_codit.png' %}" alt="logo codit"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <nav>
						<ul class="nav navbar-nav navbar-right">

							<li><a class="page-scroll" href="{% url 'gestion:index' %}">Home</a></li>
							<li><a class="page-scroll" href="{% url 'gestion:index' %}">About Us</a></li>
							<li><a class="page-scroll" href="{% url 'gestion:service' %}">Services</a></li>
							<li><a class="page-scroll" href="{% url 'gestion:partner' %}">partners</a></li>
							<li><a class="page-scroll" href="" target="_blank">projects</a>
								<ul class="sub-menu">
									<li><a href="{% url 'gestion:project' %}">Nos Réalisations</a></li>
								</ul>
							</li>
							<li><a class="page-scroll" href="#blog">Blog</a>
								<ul class="sub-menu">
									<li><a href="{% url 'gestion:blog' %}">Blogs</a></li>
								</ul>
							</li>
							<li><a class="page-scroll" href="{% url 'formation:index' %}">offres</a></li>
							<li><a class="page-scroll" href="{% url 'gestion:contact' %}">Contact</a></li>
						</ul>
					</nav>
                </div>
            </div><!--- END CONTAINER -->
        </div>
