{% load static %}

<section id="home" class="slider" style="background-image: url({% static 'assets/img/bg/codit_slide.jpg' %});  background-size:cover; background-position: center center;">
			<div class="container">
				<div class="row">
				  <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
					<div class="hero-text">
						<h2><span class="rotate">Codit Makes Everything Better | Quality Never goes out of style | The best you can get from here</span></h2>
						<p class="text-lead">Notre agence permet aux entreprises de rivaliser en ligne avec des marques plus grandes sur le même terrain.
							Vous remarquerez immédiatement une énorme différence dans vos appels entrants et votre trafic piétonnier.</p>
						<a class="btn btn-default btn-home-bg page-scroll" href="#">Get start</a>
						<a class="btn btn-default btn-home-bg page-scroll" href="#">Learn More</a>
					 </div>
				  </div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</section>