{% load static %}


<!-- START VIDEO & SKILLS -->
		<div class="our_skills section-padding" style="background-image: url(assets/img/bg/skill-bg.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;">
			<div class="container">
				<div class="row ">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<!--
						<div class="video">
							<iframe src="https://player.vimeo.com/video/232842897"></iframe>
						</div>
						-->
					</div><!--- END COL -->
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="skills">
							<div class="progress-bar-linear">
								<p class="progress-bar-text">html / css</p>
								<div class="progress-bar">
									<span data-percent="95"></span>
								</div>
							</div>
							<div class="progress-bar-linear">
								<p class="progress-bar-text">web design</p>
								<div class="progress-bar">
									<span data-percent="95"></span>
								</div>
							</div>
							<div class="progress-bar-linear">
								<p class="progress-bar-text">photography </p>
								<div class="progress-bar">
									<span data-percent="90"></span>
								</div>
							</div>
							<div class="progress-bar-linear">
								<p class="progress-bar-text">Graphic design </p>
								<div class="progress-bar">
									<span data-percent="75"></span>
								</div>
							</div>
							<div class="progress-bar-linear">
								<p class="progress-bar-text">Programming</p>
								<div class="progress-bar">
									<span data-percent="75"></span>
								</div>
							</div>
						</div>
					</div><!--- END COL -->
				</div><!--- END ROW -->
			</div><!--- END CONTAINER -->
		</div>
		<!-- END VIDEO & SKILLS -->

		<!-- START COUNDOWN -->
		<section class="counter_feature">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
						<div class="counter">
							<i class="fa fa-check"></i>
							<h2 class="timer"> 2500</h2>
							<h5>Projects Finished</h5>
						</div>
					</div> <!--- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<div class="counter">
							<i class="fa fa-check"></i>
							<h2 class="timer">28256 </h2>
							<h5>Line Of Coding</h5>
						</div>
					</div><!--- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.4s" data-wow-offset="0">
						<div class="counter">
							<i class="fa fa-check"></i>
							<h2 class="timer"> 1296</h2>
							<h5>Award Won</h5>
						</div>
					</div> <!--- END COL -->
					<div class="col-md-3 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="0">
						<div class="counter">
							<i class="fa fa-check"></i>
							<h2 class="timer">2000</h2>
							<h5>Satisfied Clients</h5>
						</div>
					</div> <!--- END COL -->
			  </div><!--- END ROW -->
		   </div><!--- END CONTAINER -->
		</section>
		<!-- END COUNDOWN -->



<section class="footer" style="background-image: url(assets/img/bg/footer-bg.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12  text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
							<div class="footer_logo">
								<a href="index.html"><img src="{% static 'assets/img/logo_codit.png' %}" alt="codit logo" /></a>
							</div>
						<div class="footer_social">
							<ul>
								<li><a class="f_facebook  wow bounceInDown" href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a class="f_twitter wow bounceInDown" data-wow-delay=".1s" href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a class="f_google wow bounceInDown" data-wow-delay=".2s" href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a class="f_linkedin wow bounceInDown" data-wow-delay=".3s" href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a class="f_youtube wow bounceInDown" data-wow-delay=".4s" href="#"><i class="fa fa-youtube"></i></a></li>
								<li><a class="f_skype wow bounceInDown" data-wow-delay=".5s" href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
						</div>
					</div><!--- END COL -->
				</div><!--- END ROW -->
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="row">
							<div class="newsletter_bg">
								<div class="col-md-5 col-sm-12 col-xs-12 ">
									<h4 class="newsletter_title">Subscribe &amp; get amazing update</h4>
								</div><!-- END COL  -->
								<div class="col-md-7 col-sm-12 col-xs-12 text-center">
									<div class="signup_form">
											<!-- Replace the form action in the line below with your MailChimp embed action! -->
										<form action="http://site90.us11.list-manage.com/subscribe/post?u=599a2153f4b86cb2f92d4af3a&amp;id=26d7c26287" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
											<input type="email" name="EMAIL" class="form-control" id="mce-email" placeholder="Enter Your Email">
											<span><button type="submit" name="subscribe" class="btn btn-detault btn-newsletter-bg">Subscribe</button></span>
											<div id="mce-responses">
												<div class="response" id="mce-error-response" style="display:none"></div>
												<div class="response" id="mce-success-response" style="display:none"></div>
											</div>
										</form>
									</div>
								</div><!-- END COL  -->
							</div>
						</div>
					</div>
				</div><!-- END ROW  -->
			</div><!--- END CONTAINER -->
		</section>
		<!-- END FOOTER TOP -->

		<!-- START FOOTER TOP -->
		<footer class="footer_copyright">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="copyright text-center wow zoomIn">
							<p>AGENCE CODIT - Copyright 2020. Developed by <a href="www.agencecodit.com" target="_blank">Codit</a></p>
						</div><!--- END FOOTER COPYRIGHT -->
					</div><!-- END COL  -->
				</div><!-- END ROW  -->
			</div><!--- END CONTAINER -->
		</footer>
		<!-- END FOOTER TOP -->

		<!-- Latest jQuery -->
			<script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
		<!-- Latest compiled and minified Bootstrap -->
			<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- modernizr JS -->
			<script src="{% static 'assets/js/modernizr-2.8.3.min.js' %}"></script>
		<!-- countTo js -->
			<script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
		<!-- magnific-popup js -->
			<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
		<!-- simple-text-rotator.min.js  -->
			<script src="{% static 'assets/simple-text-rotator/js/jquery.simple-text-rotator.min.js' %}"></script>
		<!-- jquery mixitup js -->
			<script src="{% static 'assets/js/jquery.mixitup.min.js' %}"></script>
		<!-- stellar js -->
			<script src="{% static 'assets/js/jquery.stellar.min.js' %}"></script>
		<!-- jquery appear js -->
			<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
        <!--master slider-->
			<script src="{% static 'assets/master-slider/js/masterslider.min.js' %}"></script>
		<!-- owl-carousel min js  -->
			<script src="{% static 'assets/owlcarousel/js/owl.carousel.min.js' %}"></script>
		<!-- scrolltopcontrol js -->
			<script src="{% static 'assets/js/scrolltopcontrol.js' %}"></script>
		<!-- WOW - Reveal Animations When You Scroll -->
			<script src="{% static 'assets/js/wow.min.js' %}"></script>
		<!-- map js -->
			<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
			<script src="{% static 'assets/js/gmap3.min.js' %}"></script>
		<!-- map js -->
			<script src="{% static 'assets/js/map.js' %}"></script>
		<!-- scripts js -->
			<script src="{% static 'assets/js/scripts.js' %}"></script>
			<script type="text/javascript">
			 /*  Textrotator */
			if ($('.rotate').length > 0) {
				$(".rotate").textrotator({
					animation: "dissolve", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
					separator: "|", //  You can define a new separator (|, &, * etc.) by yourself using this field.
					speed: 3000 // How many milliseconds until the next word show.
				});
			}
			/* End Textrotator */
			</script>